:plain
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="height: 50px">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="mha01557@nifty.com">
    <input type="hidden" name="lc" value="AU">
    <input type="hidden" name="item_name" value="Ikaw Ako">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="currency_code" value="JPY">
    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
    <p><button type="submit" name="submit" class="btn btn-block btn-paypal">
      <i class="fa fa-paypal"></i>
      Donate now
    </button></p>
    <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
  </form>
