
%ul.nav
  %li{ nav_active('get-involved/index.html') }
    = link_to 'Get involved', '/get-involved/index.html'
  %li{ nav_active('get-involved/volunteers.html') }
    = link_to 'Student volunteers', '/get-involved/volunteers.html'
  %li{ nav_active('get-involved/partners.html') }
    = link_to 'Partners', '/get-involved/partners.html'
