---
title: Student Volunteers
active_menu: get-involved
---

- content_for :aside do
  = partial '/get-involved/menu'

- content_for :header_content do
  %h1 Get Involved

.row.container
  .columns.large-6
    %h2 Volunteers
    %ul
      %li Intern (local and national)
      %li Local volunteers (short-term)
      %li Fair trade product sales cooperation
      %li Join tree planting tour
      %li Donation of goods
      %li Participation in international cooperation training

  .columns.large-6
    %h2 Corporate Partners
    %ul
      %li Project partners
      %li Grants
      %li Donations
