---
title: Student Volunteers
active_menu: get-involved
---

- content_for :aside do
  = partial '/get-involved/menu'

- content_for :header_content do
  %h1 Get Involved

.row.container
  .columns.large-6
    %h2 Student Volunteers
    %ul
      %li Training
      %li Study Tours

  .columns.large-6
    %h2 Corporate Partners
    %ul
      %li Project partners
      %li Grants
      %li Donations