---
title: Student Volunteers
active_menu: get-involved
---

- content_for :aside do
  = partial '/get-involved/menu'

- content_for :header_content do
  %h1 Activities in Japan

%p.lead
  Ikaw-Ako engaged activities that focus on raising awareness in the country. The center of this activity was in Nagoya, if you are interested with this you can join us. Volunteers who have participated in the operation should have the translation, knows the fair trade marketing of products, public relation through tree planting and environmental education.

  %h2 Study Tour Briefing and Lectures
  %p ...
  %h2 Fair Trade Products for Sale
  %p ...
  %h2 Business Class and Lecture
  %p ...
  %h2 Activities Board( General Assembly)
  %p ...
