---
title: Student Volunteers
active_menu: get-involved
---

- content_for :aside do
  = partial '/get-involved/menu'

- content_for :header_content do
  %h1 Volunteers

%p.lead Japanese students who wish to volunteer with Ikaw Ako.

%h2 Volunteer Placements
%p Benefits
%p English Study
%p= link_to 'How to apply', '#'


%h2 Study Tours
%p= link_to 'Contact us', '#'
