
@font-face {
  font-family: 'Museo';
  src: font-url('museo_500-webfont.eot'); /* IE9 Compat Modes */
  src: font-url('museo_500-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('museo_500-webfont.woff2') format('woff2'), /* Modern Browsers */
       font-url('museo_500-webfont.woff') format('woff'), /* Modern Browsers */
       font-url('museo_500-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('museo_500-webfont.svg#museo') format('svg'); /* Legacy iOS */
  font-style:  normal;
  font-weight: normal;
}
