---
title: Eco-tourism
active_menu: what
---

- content_for :aside do
  = partial '/what/menu'

- content_for :header_content do
  %h1 Eco-tourism

%p.lead
  Eco-tourism is a new style of tourism that focuses on nature and culture. The consciousness that set foot in the place where precious natural and cultural remains, In consideration for cross-cultural environment and local tourists, must take a responsible behavior while traveling. The travelers will pay the for travel price. Part of the travel price is used for inheritance of culture and protection of natural local. By this, travelers can also complicit to the preservation of culture and the local environment.

%p
  Ikaw-Ako has constructed an auxiliary mangrove eco park from Dapdap (photo below) and Balaring Silay City. The villagers are the one who manage and maintain the eco park. The income to this eco Park will be using for the maintenance  and to beautify well the eco park in order to gain and attract more tourist. Ikaw-Ako also bear the maintenance costs for the mangroves until now.

.row
  .columns.large-6
    %p= image_tag 'ecopark-construction.jpg'
    %p
      %small Construction of the mangrove boardwalk
  .columns.large-6
    %p= image_tag 'ecopark.jpg'
    %p
      %small Belaring eco park boardwalk and tower