---
title: Fair trade
active_menu: what
---

- content_for :aside do
  = partial '/what/menu'

- content_for :header_content do
  %h1 Fair Trade

%p.lead
  Ikaw-Ako, have the livelihood support for the people of Negros. We bring it to Japan and sell it. The revenue of the products will be give to the mangrove seedlings expenses and the maintenance of the others.
