---
title: What we do
active_menu: what
---

- content_for :aside do
  = partial '/what/menu'

- content_for :header_content do
  %h1 What we do

%p.lead
  Our aim is to educate people on the importance of our environment and create livelihood projects that will empower Filipino communities in rural areas to ensure that vital reforestation activities are sustainable long-term.

%p
  All activities are conducted in collaboration with local government, schools, universities, other NGOs and the wider community.  Together we have planted over one million seedlings including mangroves, native trees, fruit trees, coffee beans and cacao.

%p
  Ikaw-Ako International Cooperation Training Centre facilitates study tours and cultural exchanges to educate and build connections between Japanese and Filipino people.  We have a number of partnerships with Japanese high schools which sees us host student groups throughout the year.  We also welcome individuals wanting to learn English and make a positive difference by participating in community-based activities.

%p
  Ikaw-Ako Showroom and Cafe Midori is our social enterprise committed to providing local and organic products as well as healthy meal options. 100% of profits go back into funding future livelihood and environmental projects.
