---
title: Livelihood projects
active_menu: what
---

- content_for :aside do
  = partial '/what/menu'

- content_for :header_content do
  %h1 Livelihood Projects

%h2 Livelihood support of residents

%p.lead
  Ikaw-Ako along with the residents associations, we continue the activities to have the essential stability for their income. Through this, the associations and the assign groups engaged in the Livelihood supports for their business. We encouraged them and give them funds and teach new technical guidance.


%h3 Pig farming, biogas, organic farming business

%p= image_tag 'placeholder-s.png'
%p
  %small Piglets who was born in pigpen

%p
  In Silay City from Lantawan Village, JICA grassroots business, started the organic pig farming on 2013. The foods that they are using are organic.

%p
  In 2014, they receive technical assistance to Kaneshige Farm Foundation that was built in Biogas. The waste from of pig was use for cooking in the food processing. And the rest gas was use as organic fertilizer.

.row
  .columns.large-6
    %p= image_tag 'placeholder-s.png'
    %p
      %small Biogas plant
  .columns.large-6
    %p= image_tag 'placeholder-s.png'
    %p
      %small Farmland terraced

%h2 Poultry business of chicken

%p
  In BAFA, Patag Village at Silay City, they started the business which is the poultry on 2013.  The chicken was howl that surrounds by the bamboo tree.

%h2 Of oyster farming business
%p
  In Silay City from Balaring,Bonggol Village, we started the project which is the oyster. The bamboo straps was their house. Oysters sells on he seafood restaurant in the Balaring areas and other people also that came from different places also buy this to.
