---
title: Study tours
active_menu: what
---

- content_for :aside do
  = partial '/what/menu'


- content_for :header_content do
  %h1 Study Tour

%p.lead
  Ikaw Ako organized a study tour that perform the tree planting and other activities since it started to established. The features of this tour is to have an interaction with the people here at the Negros. If you will go to the site you will be welcome by the residents nearby the site. The children and the residents will join with the tree planting activity.

%p
  There are the following types of the study tour. Please choose the menu that suits everyone. Local staff and Japanese staff, will guide you through the project site of the local carefully.

%h2 Ikaw Ako original tour
%p
  Ikaw-Ako tour has been held since it intercept. A tour that consists of 6-8 days. You can experience culture exchange and planting of mangroves in upland and in coastal areas. Conduct environmental activities along with the Filipino residents.

%h2 Volunteer tour Lonely Planet

%p= image_tag 'placeholder-s.png'
%p
  %small Afforestation and paired with local elementary school students


%p
  In February 2012 we started accepting volunteer tour for our environmental activities. They will stay here from 6 days.  In spring break (July- October) and summer time ( January- April).

%ul
  %li
    %strong Day 1 (Sunday):
    from Narita, central and Kansai International Airport in Manila transfer Cebu arrival, welcome dinner (Cebu Shimadomari)
  %li
    %strong Day 2 (Monday):
    Arrive to Negros, in the afternoon city tour.
  %li
    %strong Day 3 (Tuesday):
    Tree planting activities in the coastal areas and upland portio, visiting highschool students and have a culture exchange.
  %li
    %strong Day 4 ( Wednesday):
    Tree planting with the elementary students and have a cultural exchange.
  %li
    %strong Day 5 (Thursday):
    Going back to Cebu.
  %li
    %strong Day 6 (Friday):
    Come back to Japan

%p
  The Application for your participation, volunteer tour page of how to walk the Earth from please. (Tour was consisted  "six days and school exchanges Philippines Negros tree-planting activities.")

%h2 (NPO) NICE work camp

%p= image_tag 'placeholder-s.png'
%p
  %small As a result of finishing the planting of mangrove and the people of the village

%p
  September 2012, with the partnership of NPO, we accept the work camp at Bohol. It is twice a year starting from February- March and September.

September 2012, with the partnership of NPO, we accept the work camp at Bohol. It is twice a year starting from February- March and September.
Consist of 11 nights, stay at the community center in the village. You will experience how the life of Filipinos exist everyday.
Come even your not good in English! Local staff will help you.
Apply now, <a href="http://www.nice1.gr.jp/">the home page of NICE</a> from! (search for "international work camp, the Philippines!")


%h2 Study tour that was affiliated with the high school

%p= image_tag 'placeholder-s.png'
%p
  %small AC dinner tour of the last day

%p
  Ikaw-Ako, accept training from high school. Currently we have the partnership with the Sakuragaoka High School in Aiko Prefecture and in Okayama Ichinomiya High School Prefecture. We hold the overseas training about a week in August. Based on the experience with the wealth of information, local expertise will propose the tour contents to suit the purpose of the overseas training program for each High School.

%h2 Custom tour

%p Negros of the 20th T-san!

%p For the volunteer, we also accept customized tour.  Please <a href="/contact">contact us</a> to organise a custom tour.