---
title: Ikaw Ako
active_menu: contact
---

- content_for :header_content do
  %h1 Contact us

- content_for :aside do
  %p
    %small Find us on social media
  %p
    %a.btn.btn-block.btn-facebook{ href: 'https://www.facebook.com/Ikawako.mangrove' }
      %i.fa.fa-facebook
      Facebook
  %p
    %a.btn.btn-block.btn-twitter{ href: 'https://twitter.com/IkawAkoMangrove' }
      %i.fa.fa-twitter
      Twitter

%h2 Japan

%p.with-icon
  %i.fa.fa-envelope
  %a{ href: 'mailto:goto@ikawako.com' } mrgoto@ikawako.com
%p.with-icon
  %i.fa.fa-phone
  %a{ href: 'tel:0' } 0000-000-000
%p.with-icon
  %i.fa.fa-map-marker
  %a{ href: 'https://www.google.com/maps/place/Antilla+Subdivision/@10.7948455,122.9771082,16z'}
  IKAW-AKO Japan-Negros Partnership for Environmental Protection
  %br
  Aichi Prefecture Chita-gun Mihama Okuda　
  %br
  Nihon Fukushi Goto Junhisaate

%h2 Philippines

%p.with-icon
  %i.fa.fa-envelope
  %a{ href: 'mailto:mari@ikawako.com' } mari@ikawako.com
%p.with-icon
  %i.fa.fa-phone
  %a{ href: 'tel:0569-87-2319' } 0569-87-2319
%p.with-icon
  %i.fa.fa-map-marker
  %a{ href: 'https://www.google.com/maps/place/Antilla+Subdivision/@10.7948455,122.9771082,16z'}
    IKAW-AKO Japan-Negros Partnership for Environmental Protection
  %br
  Lot 34, Block 2, Antilla subdivision, Zone 1, Silay City
  %br
  Negros Occidental, Philippines, 6116
