
%p
  %small 最新情報
%ul.nav
  - blog.articles[0...5].each do |article|
    %li= link_to article.title, article

%p
  = link_to '/news/feed.xml', class: 'btn btn-small btn-rss' do
    %i.fa.fa-rss
    RSS Feed
