
%p
  %small Recent posts
%ul.nav
  - ['July Student Tour', 'April Student Tour', 'February Student Tour'].each do |link|
    %li{ nav_active('get-involved/index.html') }
      = link_to link, '/get-involved/index.html'