
%ul.nav
  %li{ nav_active('about/index.html') }= link_to 'About', '/about/index.html'
  %li{ nav_active('about/history.html') }= link_to 'History', '/about/history.html'
  %li{ nav_active('about/philippines.html') }= link_to 'The Philippines', '/about/philippines.html'
  %li{ nav_active('about/team.html') }= link_to 'Meet the team', '/about/team.html'
