
%ul.nav
  %li{ nav_active('about/index.html') }= link_to 'About', 'index.html'
  %li{ nav_active('about/history.html') }= link_to 'History', 'history.html'
  %li{ nav_active('about/philippines.html') }= link_to 'The Philippines', 'philippines.html'
  %li{ nav_active('about/team.html') }= link_to 'Meet the team', 'team.html'
