---
title: History
active_menu: about
---

- content_for :aside do
  = partial '/about/menu'

- content_for :header_content do
  %h1 History

%p
  Towards the end of World War II, Japanese military had been pushed by Negrense guerrillas and American soldiers to the mountain area of Patag, Silay City in what is known as the last stand on Negros Island.
%p
  It was during this time, a story of heroism emerged when Lieutenant Junichiro Doi, radio operator of the Japanese Imperial Army, defied an order to bomb the local church, saving many innocent Filipino lives.
%p
  Many years after the war had come to an end, Mr. Doi then a teacher in Japan, returned to Negros to attend a memorial service. It was there that he witnessed first hand, the struggles of post-war life within the community and later shared his experiences with his friend, Mr. Goto (Director, Ikaw-Ako).  Together they decided that they would work to rebuild the relationship between Japanese and Filipino people and improve the lives of locals through environmental projects, this lead to the establishment of Ikaw-Ako Japan - Philippines Partnership for Environmental Protection in 1996.

%ul.timeline
  %li January 1995 - Mr. Goto (Director, Ikaw-Ako) visits Negros for the first time to meet with Mr. Doi
  %li March 1995 - The first mangrove planting is conducted in Talisay, Negros Occidental.
  %li 1996 ?  - Ikaw-Ako was officially established?
  %li January 1997 - First official Ikaw-Ako study tour conducted.
  %li March 1997 - Mangroves are planted for the first time in Balaring, Silay City, Negros Occidental.
  %li February 2003 - Inaugural ‘Pagatpat Festival’, an annual mangrove planting celebration held in Barangay Balaring, Silay City, Negros Occidental.
  %li November 2003 - Leo. C. Canson appointed as Chairman of the Ikaw-Ako Filipino branch
  %li 2006 - Inaugural study tour is conducted with Sakuragaoka High School
  %li 2007 - Balaring Mangrove Rehabilitation Program is awarded ‘Best Eco-Tourism Product’ of West Visayas region by the Department of Tourism.
  %li May 2009 - Ikaw-Ako intern program commences.
  %li September 2009 - Bohol office officially opens.
  %li November 2009 - Tree planting commences in Bohol.
  %li February 2010 - Balaring Mangrove Eco-Park officially opens.
  %li February 2010 - Bocana Mangrove Lovers Association (BMLA) is formed.
  %li May 2010 - Planting commences in Kabankalan, Negros Occidental.
  %li August 2010 - Baliguan Agro-Foresters Association (BAFA) is formed.
  %li October 2010 - Ikaw-Ako launches grassroots 3-year partnership project ‘Introduction of Watershed Reforestation and Environmental Education’ with Japan International Cooperation Agency (JICA)
  %li October 2010 - Victorias Mangrove Growers Association (VMGA) and Tortosa Pump Boat Assocation  are formed.
  %li January 2011 - Lantawan Agro-Foresters Association (LAFA) is formed.
  %li April 2011 - Planting commences in Victorias, Negros Occidental.
  %li November 2011 - Carol-an Agro-Foresters Association (CAFA) is formed.
  %li February 2012 - Hosted first overseas volunteer tour for Chikyuno Arukikata.
  %li August 2012 - Ikaw-Ako International Cooperation Training Centre opens in Silay City, Negros Occidental.
  %li August 2012 - First study tour conducted in partnership with Okayama High School.
  %li September 2012 - In partnership with Never-ending International work Camps Exchange (NICE), first international work camp is held in Bohol.
  %li 2012 - Ikaw-Ako exhibits at the Organic Festival for the first time.
  %li May 2013 - Ikaw-Ako Showroom and Midori Cafe opens in Silay City, Negros Occidental.
  %li January 2014 - Partnership with Morumi commences.