---
title: About
active_menu: about
---

- content_for :aside do
  = partial 'menu'

- content_for :header_content do
  %h1 Mission & Vision
  %p Ikaw-Ako Japan - Philippines Partnership for Environmental Protection is a non-government organization (NGO) dedicated to the reforestation and rehabilitation of upland and coastal areas of Negros and Bohol, Philippines.

%p.lead In Filipino, ‘Ikaw-Ako’ translates to ‘You & Me’, which represents our mission to foster friendship and cultural understanding between Japanese and Filipino people through cooperation in environmental activities including tree planting as well as integrated livelihood, water sanitation, healthcare, education and ecotourism projects.
%p Our vision is a world in which Japanese and Filipino people continue to work together peacefully for a sustainable and poverty free future.

%h2 Message from our director
%p The Philippines is a country blessed with naturally rich diversity and a tropical and subtropical highland climate.  Unfortunately it suffers from severe environmental degradation aggravated by a number of factors including illegal logging and fishing practices, with some Japanese corporations contributing to this.
%p I believe that in order to save and protect the environment for future generations, we need to work together. Ikaw-Ako hopes to promote friendship and mutual understanding between Japanese and Filipinos through collaborative environmental activities.  Since 1997, our organization has been devoted to reforestation in Negros and later in Bohol. Together with Japanese volunteers and locals we have planted over one million seedlings.
%p Other milestones include the launch of our International Cooperation Training Centre allowing volunteers to learn English whilst contributing to community based activities.  In 2013, our social enterprise, Ikaw-Ako Showroom & Cafe Midori opened it’s doors to offer natural and organic foods benefitting the local community.
%p Ikaw-Ako is involved in a range of other initiatives ranging from environmental education programs to organic farming and livelihood projects.  By focussing on transparency, fairness and trust, we have been able to forge strong relationships with our beneficiary communities.
%p We will endeavor to act as a bridge between Japan and the Philippines and thank each of you for your support and cooperation.”

%p{ style: 'font-family: Zapfino; font-size: 20px'}
  %br
  Goto Yorihisa
