---
title: The Philippines
active_menu: about
---

- content_for :aside do
  = partial '/about/menu'

- content_for :header_content do
  %h1 The Philippines

%h2 What does it look like?
%p
  The Philippine archipelago comprises of 7,107 islands with mountain ranges that cover most of the 300,000 km² of land with narrow to extensive coastal lowlands.  Like Japan, the country also forms part of the Pacific Orogenic Belt otherwise known as the Ring of Fire due to the high frequency of earthquakes and volcanic eruptions in the region.  The country is also prone to other natural disasters such as typhoons and floods.

%h2 What’s the problem?

%p
  Named as one of the mega-diverse countries in the world, the Philippines has over 20,000 endemic species of plants and animals.  Sadly, with only 7 percent of original forests remaining, it is also considered to be a biodiversity hotspot in a state of environmental crisis as the country continues to suffer from deforestation, land degradation, overexploitation, climate change and pollution.
%p
  Ongoing threats include logging and mining, high population density and growth rates, agriculture and plantations, dynamite fishing along with rapid development in coastal areas that destroy coral reefs and mangroves.  These threats have lead to less production, increased health risks, vulnerability to natural disasters and loss of livelihood within Filipino communities.

%h2 What’s happening to fix it?
%p
  Since the 1970’s, the Filipino government alongside international and local scientific communities and NGOs such as Ikaw-Ako have supported a number of programs to encourage forest conservation and afforestation.  The commitment of all stakeholders is necessary to sustain conservation strategies and educate the public on the importance of the environment.

%h2 Where specifically?

%p
  Negros Island is the third largest island in the Philippines with a land mass of 13,328 km².
%p
  It is generally recognised as one of the most threatened regions and is home to a high number of endemic species or subspecies with only 4% of its original forest cover left to support them.
%p
  The island province of Bohol has a total area of 4,117 km² 78 percent of which is classified as

%p
  = image_tag 'placeholder-m.png'
%p
  %small Negros and Bohol in The Philippines
