#logo-bar
  %a.lang-switcher.hide-for-small-only{ href: "/en/#{ current_page.path }" } View page in English
  %a{ href: '/'}
    = image_tag 'logo-simple.png', width: 100
#header
  .container
    = partial 'main_nav'
    = yield_content :header_content
